*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: center;
}
.org{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: var(--neutras-Gray, #8D9AA6);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;  
    text-decoration: none;
}
header a:hover{
    color: #0C4972;
    transform: scale(1.0);
    transition: 0.8s;
}
nav button:hover{
    box-shadow: 0px 0px 12px #1b272f;
    transform: scale(1.0);
    transition: 0.8s;
}
button{
    border-radius: 10px;
    background: #F19430; 
    color: #0C4972;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: 0;
    padding: 10px 30px;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    gap: 30px;
}
.bt{
    display: flex;
    gap: 10px;
}
h1{
    color: var(--neutras-White, #FFF);
    font-family: Rubik;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 52px */
    text-transform: uppercase;
    width: 449px;
    margin-bottom: 10px;
}
.text-prin p{
    color: var(--neutras-Neve, #FFF);
    font-family: "Roboto Flex";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
    width: 380px;
}
.text-prin p span{
    color: var(--neutras-Neve, #FFC82C);
}
.bloco{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.textinho h2{
    color: var(--neutras-Fumaca, #E0E7ED);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
    margin-bottom: 12px;
}
.textinho p{
    color: var(--neutras-Fumaca, #E0E7ED);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
.quadrado{
    width: 410px;
    height: 514px;
    flex-shrink: 0;
    opacity: 0.8;
    background: linear-gradient(180deg, #002742 27.81%, rgba(17, 17, 17, 0.00) 92.2%);
    display: flex;
    justify-content: center;
}
.org-quad{
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 320px;
    justify-content: center;
}

.principal{
    width: 100vw;
    height:680px;
    background-image: url(imgs/Group\ 72.png);
    display: flex;
    justify-content: center;
}
.principal .org{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    height: 190px;
}
.principal button:hover{
    box-shadow: 0px 0px 12px #002742;
    transform: scale(1.0);
    transition: 1s;
}