<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog da APSO</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="org">
            <div class="logo">
                <img src="static/img/1-removebg-preview.png" alt="">
            </div><!--logo-->
            <nav>
                <a href="/">INÍCIO</a>
                <a href="/blog">BLOG</a>
                <a href="/doacoes">DOAÇÕES</a>
                <a href="/campanhas">CAMPANHAS</a>
                <div class="bt">
                    <a href="/doar">
                        <button>DOAR</button>
                    </a>
                    <a href="">
                        <button>CADASTRO</button>
                    </a>
                </div><!--bt-->
            </nav>
        </div><!--org-->
    </header>
    <main>
        <section class="blog">
            <h2>Bem vindo ao nosso blog!</h2>
        </section>
    </main>
</body>
</html>