<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro na APSO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="org">
            <div class="logo">
                <img src="static/img/1-removebg-preview.png" alt="">
            </div><!--logo-->
            <nav>
                <a href="/sobrenos">SOBRE NÓS</a>
                <a href="/blog">BLOG</a>
                <a href="/doacoes">DOAÇÕES</a>
                <a href="/campanhas">CAMPANHAS</a>
                <div class="bt">
                    <a href="/doar">
                        <button>DOAR</button>
                    </a>
                    
                </div><!--bt-->
            </nav>
        </div><!--org-->
    </header>
    <main>
        <section class="cadastro">
            <div class="img">
                <img src="static/img/foto login.png" alt="">
            </div>
            <div class="text-cad">
                <h2>
                    Faça seu cadastro
                </h2>
                <form action="\cadastro" method="POST">
                    <label for="tipo">Eu sou:</label>
                    <select class="campo tipo" id="tipo" name="tipo" required>
                        <option value="voluntario">Voluntário</option>
                        <option value="ong">ONG</option>
                    </select>
        
                    <label for="nome">Nome</label>
                    <input class="campo nome" type="text" id="nome" name="nome" required>

                    <label for="nome">Usuário</label>
                    <input class="campo user" type="text" id="username" name="username" required>
        
                    <label for="email">Email</label>
                    <input class="campo email" type="email" id="email" name="email" required>
        
                    <label for="password">Senha</label>
                    <input class="campo senha" type="password" id="password" name="password" required>
        
                    <label for="telefone">Telefone</label>
                    <input class="campo tel" type="tel" id="telefone" name="telefone" required>

                    <label for="tipo">Qual seu bairro?</label>
                    <select class="campo bairro" id="bairro" name="bairro" required>
                        <option value="igapo">Igapó</option>
                        <option value="lagoa-azul">Lagoa Azul</option>
                        <option value="pajucara">Pajuçara</option>
                        <option value="potengi">Potengi</option>
                        <option value="redinha">Redinha</option>
                    </select>
        
        
                    <input class="bt-cadastro" type="submit" value="Cadastrar">
                </form>
            </div>
        </section>
    </main>
</body>
</html>