<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APSO - Apoio Solidário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="org">
            <div class="logo">
                <img src="static/img/1-removebg-preview.png" alt="">
            </div><!--logo-->
            <nav>
                <a href="">SOBRE NÓS</a>
                <a href="">BLOG</a>
                <a href="">DOAÇÕES</a>
                <a href="">CAMPANHAS</a>
                <div class="bt">
                    <a href="">
                        <button>DOAR</button>
                    </a>
                </div><!--bt-->
                <a href="/login">
                    <img src="../static/img/Group 73.png" alt="">
                </a>
            </nav>
        </div><!--org-->
    </header>
    <main>
        <section class="principal">
            <div class="org">
                <div class="bloco">
                    <div class="text-prin">
                        <h1>
                            Bem vinda de volta, Jepale (:
                        </h1>
                        <p>Dê match com a soliedariedade e apoie as instituições sociais cadastradas na <span>APSO</span>.</p>
                    </div><!--text-prin-->
                    <div class="bt">
                        <a href="">
                            <button>Cadastrar ONG</button>
                        </a>
                        <a href="">
                            <button>Se voluntariar</button>
                        </a>
                    </div><!--bt-->
                </div><!--bloco-->
                <div class="quadrado">
                    <div class="org-quad">
                        <div class="textinho">
                            <h2>
                                ONGS
                            </h2>
                            <p>
                                Se a sua organização, coletivo ou movimento social está em busca de voluntários para colaborar com a sua causa, venha fazer parte da nossa rede!
                            </p>
                        </div><!--textinho-->
                        <div class="textinho">
                            <h2>
                                VOLUNTÁRIOS
                            </h2>
                            <p>
                                No nosso site você pode se conectar com ONGs aqui de Natal e escolher a vaga de voluntariado que mais tem a ver com você!
                            </p>
                        </div><!--textinho-->
                        <div class="textinho">
                            <h2>
                                DOADORES
                            </h2>
                            <p>
                                Faça a diferença! Doe de forma prática, rápida e segura.
                            </p>
                        </div><!--textinho-->
                    </div><!--org-quad-->
                </div><!--quadrado-->
            </div><!--org-->
        </section>
    </main>
</body>
</html>