<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login na APSO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="org">
            <div class="logo">
                <img src="static/img/1-removebg-preview.png" alt="">
            </div><!--logo-->
            <nav>
                <a href="">SOBRE NÓS</a>
                <a href="">BLOG</a>
                <a href="">DOAÇÕES</a>
                <a href="">CAMPANHAS</a>
                <div class="bt">
                    <a href="">
                        <button>DOAR</button>
                    </a>
                    <a href="/cadastro">
                        <button>CADASTRO</button>
                    </a>
                </div><!--bt-->
            </nav>
        </div><!--org-->
    </header>
    <main>
        <section class="login">
            <div class="img">
                <img src="static/img/foto login.png" alt="">
            </div>
            <div class="text-login">
                <h2>
                    Faça seu login
                </h2>
                <form action="{{url_for('acessoverific')}}" method="POST">
                    <label for="username">Usuário</label>
                    <input class="campo" type="text" id="username" name="username" required>
        
                    <label for="password">Senha</label>
                    <input class="campo" type="password" id="password" name="password" required>
        
                    <input class="bt-login" type="submit" value="Entrar">
                </form>
                <p>Ainda não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
            </div>
        </section>
    </main>
</body>
</html>