<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login na APSO</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="org">
            <div class="logo">
                <img src="static/img/1-removebg-preview.png" alt="">
            </div><!--logo-->
            <nav>
                <a href="/sobrenos">SOBRE NÓS</a>
                <a href="/blog">BLOG</a>
                <a href="/doacoes">DOAÇÕES</a>
                <a href="/campanhas">CAMPANHAS</a>
                <div class="bt">
                    <a href="/doar">
                        <button>DOAR</button>
                    </a>
                </div><!--bt-->
            </nav>
        </div><!--org-->
    </header>
    <main>
        <section class="ongs">
            <div class="img">
                <img src="static/img/foto login.png" alt="">
            </div>
            <div class="text-ongs">
                <h2>
                    ONGs disponíveis para você se voluntariar
                </h2>
                <ul>
                    {% for ong in ongs %}
                        <li>
                            <h2>{{ ong.nome }}</h2>
                            <p>{{ ong.descricao }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
</body>
</html>